{% extends 'base.html' %}
{% from 'macros.html' import drawicon, footer, navbar %}
{% block title %}试标注参考结果{% endblock %}
{% block content %}

<div class="modal fade" id="goto-task" tabindex="-1" aria-labelledby="goto-task-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="goto-task-title">选择当前任务</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="关闭"></button>
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush">
                    {% for tid in tasks %}
                    <button class="list-group-item list-group-item-action d-flex align-items-center"
                        id="goto-task-{{ loop.index0 }}" type="button" aria-current="true">
                        <div class="text-truncate flex-grow-1 pe-3">{{ loop.index }}. {{ tasks[tid][0]}}</div>
                        {% if tasks[tid][1] == -1 %}
                        <div class="badge bg-secondary" id="task-badge-{{ loop.index0 }}">未完成</div>
                        {% elif tasks[tid][1] == -2 %}
                        <div class="badge bg-warning" id="task-badge-{{ loop.index0 }}">已保存</div>
                        {% else %}
                        <div class="badge bg-success" id="task-badge-{{ loop.index0 }}">已完成</div>
                        {% endif %}
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% include 'background.html' %}
    <div class="mb-4 bg-light rounded-3">
        <div class="progress" style="height: 5px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
        <div style="margin-top: -5px;">
            <div class="px-1 px-md-3 px-lg-5 py-3">
                {{ navbar(2, current_user.name, current_user.adjudicator) }}
            </div>
        </div>
    </div>
    <div class="px-1 px-md-3 px-lg-5 py-3 mb-2 bg-light rounded-3">
        <div class="container-fluid">
            <div class="py-3">
                <div class="display-5" id="object">object</div>
                <div class="d-flex align-items-center">
                    <button
                        class="lead fw-bold bg-white bg-opacity-75 border border-dark border-2 rounded-pill me-2 me-md-3 me-lg-4 px-1 px-md-2"
                        id="counter" role="button" data-bs-toggle="modal" data-bs-target="#goto-task">0/0</button>
                    <div class="flex-grow-1">
                        <span class="spinner-border spinner-border-sm mx-1" id="loading" role="status">
                            <span class="visually-hidden">加载中……</span>
                        </span>
                    </div>

                </div>
                <div class="lead" id="aspect">aspects</div>
                <div class='lead'><b>任务一：</b>删除实体明显不一致、完全矛盾、角度无关、表述模糊的句子</div>
                <div>
                    <div class="text" style="font-family:宋体" id="sentence">The quick brown fox jumps over a lazy dog.</div>
                </div>
                <div class="lead">
                    <b>任务二：</b>筛选后剩余的评论是否含有相反情感极性
                    <button class="btn btn-outline-success" style="vertical-align:top;width:150px;height:30px;line-height:15px" id="consis_btn">情感极性均一致</button>
                    <button class="btn btn-outline-danger" style="vertical-align:top;width:150px;height:30px;line-height:15px" id="oppo_btn">含相反情感极性</button>
                </div>
            </div>
            

            <div id="input_list" class="input-group">
            </div>

            <div class="btn-toolbar justify-content-center mb-2" role="toolbar">
                <div class="btn-group mx-2 my-1" role="group" aria-label="任务导航">
                    <button class="btn btn-outline-primary" id="previous-task">
                        {{ drawicon('arrow-left-circle') }}
                    </button>
                    <button class="btn btn-outline-primary" id="open-goto-task" data-bs-toggle="modal"
                        data-bs-target="#goto-task">选择任务</button>
                    <button class="btn btn-outline-primary" id="next-task">
                        {{ drawicon('arrow-right-circle') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ footer() }}
</div>
{% endblock %}
{% block javascript %}
<script>
    let loadingIndicator = document.getElementById("loading")

    let tidIndex = -1
    let input_num = 0
    let left_state = -1
    let tidList = []
    {% for tid in tid_list %}
    tidList.push(Number("{{tid }}"))
    {% endfor %}

    let gidList = []
    {% for gid in gid_list %}
    gidList.push(Number("{{gid }}"))
    {% endfor %}

    // let gid = "{{ gid }}"
    let uid = "{{ uid }}"

    load(tidList.findIndex(x => x == Number("{{ last_tid }}")))

    function load(nextTidIndex) {
        if (nextTidIndex < 0 || nextTidIndex >= tidList.length)
            return loadingIndicator.classList.toggle("d-none", false)

        if (nextTidIndex !== tidIndex) {
            let form = new FormData()
            form.append("gid", gidList[nextTidIndex])
            form.append("uid", uid)
            form.append("tid", tidList[nextTidIndex])

            applyAjax(
                "{{ url_for('task.loadtask') }}", form, data => {
                    setProgress(nextTidIndex)
                    setText(nextTidIndex, data)
                    setTaskNavButtons(nextTidIndex)
                    setModals(tidIndex, nextTidIndex)
                    left_state = data['left_state']
                    reloadAnnotation()
                    loadingIndicator.classList.toggle("d-none", true)
                }, (e, xhr) => {
                    toast("获取任务 " + (nextTidIndex + 1) + " 失败：" + xhr.status + " " + xhr.statusText, "danger")
                    window.location.href = "{{ url_for('route.groups') }}"
                }
            )
            tidIndex = nextTidIndex
        } else loadAnnotation()
    }

    function loadAnnotation() {
        let form = new FormData();
        form.append("gid", Number(gid));
        form.append("tid", tidList[tidIndex]);
        loadingIndicator.classList.toggle("d-none", false);

        applyAjax("{{ url_for('task.loadanno') }}", form, anno_list => {
            reloadAnnotation();
            loadingIndicator.classList.toggle("d-none", true);
        }, (e, xhr) => {
            toast("获取标注 " + (tidIndex + 1) + " 失败：" + xhr.status + " " + xhr.statusText, "danger");
            window.location.href = "{{ url_for('route.groups') }}";
        })
    }

    function reloadAnnotation() {
        let consis_btn = document.getElementById("consis_btn")
        let oppo_btn = document.getElementById("oppo_btn")
        if (left_state==-1){
            // 若没有标注，将两个按钮转为未点击
            consis_btn.classList.remove("active")
            oppo_btn.classList.remove("active")
        }else if(left_state==0){
            // 若不一致
            consis_btn.classList.remove("active")
            oppo_btn.classList.add("active")
        }else if(left_state==1){
            // 若一致
            consis_btn.classList.add("active")
            oppo_btn.classList.remove("active")
        }
    }

    // 标记进度
    function setProgress(tidIndex) {
        let progress = document.getElementById("progress")
        let value = Math.round((tidIndex + 1) * 100.0 / tidList.length)
        progress.style.width = value + "%"
        progress.setAttribute("aria-valuenow", value)
    }

    // 显示文本
    function setText(tidIndex, data) {
        document.getElementById("counter").innerText = (tidIndex + 1) + "/" + tidList.length
        document.getElementById("object").innerText = data["object"]
        document.getElementById("aspect").innerHTML = "以下评论包括角度<b>" + highlight(data["aspect"]) + "</b>，请将其归纳为一句话（不超过50字）"

        if(data['reviews'].length>1){
            let reviews_innerHTML = ""
            for(i=0;i<data['reviews'].length;i++){
                reviews_innerHTML += "<br><div style='font-family:宋体'>"
                if(data['review_state'][i]==1){
                    reviews_innerHTML += "<input type='checkbox' onclick='completeTask(this)' disabled>"
                    reviews_innerHTML += "<span>" + highlight(data['reviews'][i]) + "</span>"
                }else if(data['review_state'][i]==0){
                    reviews_innerHTML += "<input type='checkbox' onclick='completeTask(this)' checked disabled>"
                    reviews_innerHTML += "<span class='completed'>" + highlight(data['reviews'][i]) + "</span>"
                }
                
                reviews_innerHTML += "</div>"
            }
            document.getElementById("sentence").innerHTML = reviews_innerHTML
        }else{
            document.getElementById("sentence").innerHTML = "<br><div style='text-indent:2em;'>" + highlight(data["text"]) + "</div>"
        }
    }
    // 高亮处理
    function highlight(string){
        string = string.replace(/a0_s/g,"<mark style='background-color:lightskyblue'>")
        string = string.replace(/a0_e/g,"</mark>")
        string = string.replace(/a1_s/g,"<mark style='background-color:orange'>")
        string = string.replace(/a1_e/g,"</mark>")
        string = string.replace(/a2_s/g,"<mark style='background-color:pink'>")
        string = string.replace(/a2_e/g,"</mark>")
        return string
    }
    // 添加输入框
    function add_input(){
        let new_div = document.createElement("div");
        new_div.classList.add("input-container");
        new_div.setAttribute('id', 'input_container_'+(input_num+1).toString());
        //创建新标签
        let new_label = document.createElement('span');
        new_label.setAttribute('class', 'lead');
        new_label.setAttribute('style', 'vertical-align:top;min-width:70px;' );
        new_label.innerText = "归纳"+(input_num+1).toString()+"：";
        //创建新输入框
        let new_input = document.createElement('textarea');
        new_input.setAttribute('maxlength', '50');
        new_input.setAttribute('oninput', "this.style.height = this.scrollHeight + 'px';");
        new_input.setAttribute('id', 'input'+(input_num+1).toString());

        new_div.appendChild(new_label)
        new_div.appendChild(new_input)

        let input_list = document.getElementById("input_list");

        input_list.insertBefore(new_div,null);

        input_num += 1
    }
    // 删除输入框
    function del_input(){
        let last_div = document.getElementById("input_container_"+input_num.toString());
        last_div.remove()
        input_num -= 1
    }

    // 任务导航按钮
    function setTaskNavButtons(tidIndex) {
        document.getElementById("previous-task").disabled = tidIndex == 0
        document.getElementById("next-task").disabled = tidIndex == tidList.length - 1
    }

    //
    function setModals(tidIndex, nextTidIndex) {
        if (tidIndex >= 0) document.getElementById("goto-task-" + tidIndex).classList.toggle("active")
        document.getElementById("goto-task-" + nextTidIndex).classList.toggle("active")
    }

    document.getElementById("previous-task").addEventListener("click", () => load(tidIndex - 1))
    document.getElementById("next-task").addEventListener("click", () => load(tidIndex + 1))

    {% for task_tid in tasks %}
    document.getElementById("goto-task-{{ loop.index0 }}").addEventListener("click", () => {
        if (tidIndex !== Number("{{ loop.index0 }}")) load(Number("{{ loop.index0 }}"))
        bootstrap.Modal.getOrCreateInstance(document.querySelector("#goto-task")).hide()
    })
    {% endfor %}


</script>
{% endblock %}