<div class="spinner-grow text-success m-2" role="status">
    <span class="visually-hidden">加载中……</span>
</div>
<div class="spinner-grow text-danger m-2" role="status" style="animation-delay: .075s;">
    <span class="visually-hidden"></span>
</div>
<div class="spinner-grow text-warning m-2" role="status" style="animation-delay: .15s;">
    <span class="visually-hidden"></span>
</div>
<div class="spinner-grow text-info m-2" role="status" style="animation-delay: .225s;">
    <span class="visually-hidden"></span>
</div>
